# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Firebase secret
firebase_config.json

# Temporary folders
uploads/
temp/
models/
registered_faces/

# OS and IDE
.DS_Store
.idea/
.vscode/
